.view selection, .view:selected {
    color: #eceff4;               
    background-color: #5e81ac;
}

button:checked, button:active {
  color: #eceff4;
  background-color: #5e81ac;
}

slider:active {
  background-color: #5e81ac;
  border-color: #5e81ac;
}

menuitem:hover {
  background-color: #5e81ac;
}