/* vi: ft=less 
 */
@import "colors.css";

window:not(.popup)#waybar {
  border-radius: 8px;
  background-color: alpha(@base00, 0.94);
  color: @base06;
  font-family: 'JetBrainsMono NF', monospace;
  font-weight: normal;
  font-size: 13px;
  min-height: 0;
}

/* boxed modules */
#custom-start,
#workspaces,
#mode,
#mpris,
#custom-backlight,
#power-profiles-daemon,
#pulseaudio,
#system-info,
#tray,
#clock-notification {
  padding: 0px 8px;
  background-color: @base01;
  margin: 6px 3px 6px 3px;
  border-radius: 8px;
  background-clip: padding-box;
  color: @base06;
}

#custom-start {
  margin-left: 6px;
  padding-right: 10px;
  padding-left: 11px;
  background-color: @base09;
  font-family: 'Symbols Nerd Font';
  font-size: 18px;
  color: @base00;
}

#workspaces button,
#workspaces button.hover,
#workspaces button.focus {
  border-radius: 0px;
}

#workspaces button {
  padding: 0 3px;
  min-width: 20px;
  color: @base09;
  transition: box-shadow 0.25s;
}

#workspaces button:hover {
  box-shadow: inset 0 0 0 100px alpha(@base03, 0.5);
}

#workspaces button:active,
#workspaces button.focused,
#workspaces button.visible {
  color: @base00;
  background-color: @base09;
}

#workspaces button.urgent {
  color: @base00;
  background-color: @base0D;
}

#mode {
  font-weight: 500;
  background-color: @base08;
  color: @base00;
}

#mpris {
  font-family: 'Segoe UI Variable', 'Symbols Nerd Font';
  font-weight: 500;
  background-color: @base07;
  color: @base00;
}

#custom-backlight {
  color: @base00;
  background-color: @base0D;
}

#power-profiles-daemon {
  font-family: 'Symbols Nerd Font Mono';
  color: @base00;
}

#power-profiles-daemon.performance {
  background-color: @base0D;
}

#power-profiles-daemon.power-saver {
  background-color: @base0E;
}

#power-profiles-daemon.balanced {
  background-color: @base07;
}

#pulseaudio {
  background-color: @base0F;
  color: @base00;
}

#pulseaudio.muted {
  background-color: @base0B;
  color: @base00;
}

#system-info {
  color: @base00;
  background-color: @base0A;
}

#memory {
  padding-right: 2px;
}

#cpu {
  padding-left: 2px;
}

#clock {
  padding-right: 7px;
}

#custom-notification {
  font-family: 'Symbols Nerd Font Mono';
  background-color: @base0E;
  padding-right: 8px;
  border-radius: 8px;
  padding-left: 7px;
}

#clock-notification {
  color: @base00;
  background-color: @base09;
  padding-right: 0px;
  margin-right: 6px;
}

/* unboxed modules */
#custom-updates,
#systemd-failed-units,
#scratchpad,
#upower {
  padding: 0px 2px;
  background-color: transparent;
  margin: 0px 3px;
  background-clip: padding-box;
  color: @base06;
}

#custom-updates {
  color: @base0B;
}

#systemd-failed-units.degraded {
  color: @base0D;
}

#scratchpad {
  color: @base09;
}

#upower {
  color: @base0E;
  padding: 0;
}

#privacy {
  margin: 0px 2px;
  color: @base0B;
}

#window label {
  font-family: monofur;
  font-size: 16px;
  font-weight: bold;
}
