/* vi: ft=less 
 */
@import "colors.css";

* {
  font-family: 'JetBrains Mono Nerd Font', monospace;
  font-weight: normal;
  font-size: 13px;
}

/* not mess up with tray menus */
:not(check):not(separator):not(menu):not(menuitem):not(arrow):not(.popup) {
  min-height: 0;
}

/* restore tray menu style */
window.popup * {
  font-family: system-ui;
  font-size: 10pt;
}

window#waybar {
  border-radius: 8px;
  background-color: alpha(@base00, 0.96);
  color: @base06;
}

#custom-start,
#custom-notification,
#workspaces,
#mode,
#custom-media,
#clock,
#pulseaudio,
#battery,
#cpu,
#memory,
#tray {
  padding: 0px 10px;
  background-color: @base01;
  margin: 6px 3px 6px 3px;
  border-radius: 8px;
  background-clip: padding-box;
  color: @base06;
}

#memory {
  color: @base00;
  background-color: @base0A;
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
  margin-right: unset;
  padding-right: 2px;
}

#cpu {
  color: @base00;
  background-color: @base0A;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  margin-left: unset;
  padding-left: 2px;
}

#custom-recorder,
#custom-scratchpad-indicator,
#custom-pacman {
  padding: 0px 2px;
  background-color: transparent;
  margin: 0px 3px;
  background-clip: padding-box;
  color: @base06;
}

/* left modules */
#custom-start {
  margin-left: 6px;
  padding-right: 10px;
  padding-left: 11px;
  background-color: @base09;
  font-family: 'Symbols Nerd Font';
  font-size: 18px;
  color: @base00;
}

#workspaces button,
#workspaces button.hover,
#workspaces button.focus {
  border-radius: 0px;
}

#workspaces button {
  padding: 0 3px;
  min-width: 20px;
  color: @base09;
  transition: box-shadow 0.25s;
}

#workspaces button:hover {
  box-shadow: inset 0 0 0 100px alpha(@base03, 0.5);
}

#workspaces button.active,
#workspaces button.focused {
  color: @base00;
  background-color: @base09;
}

#workspaces button.urgent {
  color: @base00;
  background-color: @base0D;
}

#workspaces button#sway-workspace-10 label {
  font-family: 'Symbols Nerd Font';
}

#custom-media {
  background-color: @base07;
  color: #2e3440;
}

#custom-recorder {
  color: @base0B;
  font-family: 'Symbols Nerd Font';
}

/* center modules */
#window {
  font-family: monofur;
  font-size: 16px;
  font-weight: bold;
}

/* modules right*/
#custom-pacman {
  color: @base0B;
}

#custom-scratchpad-indicator {
  color: @base09;
}

#pulseaudio {
  background-color: @base0F;
  color: @base00;
}

#pulseaudio.muted {
  background-color: @base0B;
  color: @base00;
}

#battery,
#battery.charging,
#battery.plugged {
  background-color: @base0E;
  color: @base00;
}

@keyframes blink {
  to {
    background-color: #2e3440;
    color: @base0B;
  }
}

#battery.warning:not(.charging) {
  background-color: @base0D;
  color: @base00;
}

#battery.critical:not(.charging) {
  background-color: @base0B;
  color: @base00;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  color: @base00;
  background-color: @base09;
  margin-right: 6px;
}
