// Global
*{
	all: unset;
}

// Color Variables
$background: #2e3440;
$foreground: #eceff4;
$nord1: #3b4252;
$nord3: #4c566a;
$nord7: #a3be8c;
$nord10: #81a1c1;

//Calendar
.cal-box {
	border: 2px solid $nord1;
	background-color: $background;
	border-radius: 8px;
	font-size: 1em;
	font-family: "JetBrains Mono";
	padding: 0.5em;

	.cal-greeter {
		font-style: italic;
		font-weight: bold;
		font-size: 18px;
		padding: 0.25em;
	}

	.cal-inner-box {
		.cal {
			padding: 0px 5px;
		}
  	}
}

calendar {
	padding: 1px;
  	font-style: normal;
	font-weight: 800;
	color: $foreground;
	background-color: $background;
	
	&:selected {
		border-radius: 5px;
		color: $background;
		background-color: $nord10;
		font-weight: 900;
		
	}

	&.header {
		color: $foreground;
		font-weight: bold;
	}
	
	&.button {
		color: $nord10;
	}
	
	&.highlight {
		color: $nord7;
		font-weight: bold;
	}
	
	&:indeterminate {
		color: $nord3;
	}
	
	&:hover {
		background-color: $nord1;
	}
}



// Recorder

.recorder {
	border-radius: 8px;
	border: 2px solid $nord1;
	background-color: $background;
	padding: 4px;
	font-size: 20px;
	font-family: feather;

	.button {
		border-radius: 8px;
		background-color: $nord1;
		padding: 14px;
		margin-bottom: 4px;
	}
	.button-end {
		border-radius: 8px;
		background-color: $nord1;
		padding: 14px;
	}
}